<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="ISO-8859-1"/>
<title th:text="${title}"> Grocery List</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" ></script>
   </head>
<body class="container">
<nav th:fragment="navigation">
<a href="/grocery">List</a>
<a href="/grocery/add">Add</a>
<a href="/grocery/remove">Remove</a>


</nav>
</body>
</html>